
.container{
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
    padding: 6rem 0;

    &.text-container{
        width: 100%;
        text-align: center;
    }
    
}
.subtitle{
  font-size: 24px;
  text-transform: capitalize;
}

.footerArea{
    bottom: 0;
    display: flex;
    justify-content: space-around;
}